/* HOJA DE ESTILO */

@media (max-width: 1800px){
    p{
        font-size: 24px;
    }
    h2{
        font-size: 60px;    
    }
    #section2{
        display: grid;
        grid-template-columns: auto auto;
    }
    #sectioncatalogo{
        display: grid;
        grid-template-columns: auto auto auto auto;
    }
    iframe{
        width: 500px;
        height: 400px;
    }
}
@media (max-width: 1000px){
    p{
        font-size: 20px;
    }
    h2{
        font-size: 40px;    
    }
    #section2{
        display: flex;
        flex-direction: column;
    }
    #sectioncatalogo{
        display: grid;
        grid-template-columns: auto auto auto;
    }
    iframe{
        width: 600px;
        height: 400px;
    }
}
@media (max-width: 850px){
    p{
        font-size: 16px;
    }
    h2{
        font-size: 30px;    
    }
    #section2{
        display: flex;
        flex-direction: column;
    }
    #sectioncatalogo{
        display: grid;
        grid-template-columns: auto auto;
    }
    iframe{
        width: 400px;
        height: 300px;
    }
}
@media (max-width: 576px){
    p{
        font-size: 12px;
    }
    h2{
        font-size: 25px;    
    }
    #section2{
        display: flex;
        flex-direction: column;
    }
    #sectioncatalogo{
        display: grid;
        grid-template-columns: auto;
    }
    iframe{
        width: 400px;
        height: 300px;
    }
}


/* ESTILO UNIVERSAL */

*{
    font-family:'Courier New', Courier, monospace;
    font-weight: bold;
    text-align: center;
    margin: auto;
    padding-top: 1rem;
    padding-bottom: 1rem;
    
}

section{
    background-color: rgba(240, 248, 255, 0.7);
    width: 90%;
}

body{
    display: grid;
    row-gap: 1rem;
    width: 100%;
    background-image: url(Imagenes/grayscale-shot-of-an-empire-state-building-of-new-usa.jpg);
    background-size: cover;
   

}

header{
    width: 90%;
    display: grid;
    column-gap: 1px;
    grid-template-columns: 10% 80%;
    background-color: rgba(240, 248, 255, 0.5);
}  

nav{
    width: 90%;
    background-color: rgba(240, 248, 255, 0.6);
    text-align: right;
}
 
#logoheader{
    display: block;
    width: 5rem;
    height: auto;
    margin-left: 1rem;
    
}
#h2header{
    text-align: left;
}

#article3{
    width: 80%;
}

footer{
    width: 90%;
    background-color: rgba(240, 248, 255, 0.9);
}

#imgcatalogo{
    display: block;
    height: 60%;
    width: 90%;
}
p{
    padding: 1rem 1rem 1rem 1rem;
}
